/*
    Main Style for TinyERP
*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Lobster';

body {
    background: #efefef;
    font-family: 'Open Sans', Arial, sans-serif;
}

.topbar {
    width: 100%;
    background: #1f6a66;
    margin-bottom: 30px;
    box-shadow: 0px 0px 2px #9f9f9f;
    height: 60px;
}

h1 {
    height: 60px;
    line-height: 60px;
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 70px;
    font-family: 'Lobster', serif;
    margin-top: 10px;
    z-index: 100;
}

#user-menu {
    float: right;
    line-height: 60px;
    height: 60px;
    padding: 0 64px 0 15px;
    color: #fff;
    font-size: 90%;
    display: inline;
    border-radius: 0;
    background-color: transparent;
}

.open > .dropdown-menu {
    top: 60px;
}

button#user-menu:focus,
button#user-menu:hover,
button#user-menu:active {
    background-color: #094a46 !important;
}

button#user-menu .badge {
    color: #800;
    margin: 0 5px 0 0;
}

.topbar img {
    float: right;
    width: 40px;
    height: 40px;
    display: inline;
    margin: 10px 0 10px 20px;
    border-radius: 4px;
}

.box {
    width: 100%;
    padding: 16px;
    margin: 0 0 30px 0;
    background: #fff;
    box-shadow: 0 0 2px #cfcfcf;
    box-sizing: border-box;
}

.box h2 {
    margin: 0 0 1em 0;
    font-size: 150%;
}

.login {
    bottom: 40%;
}

.login form {
    margin: 40px 0;
}

.login input {
    margin: 0 0 20px 0;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover {
    background: #1f6a66;
    border: none;
}

.dropdown-menu span.glyphicon {
    margin-right: 10px;
}

table {
    width: 100%;
    margin: 0px 0px 40px 0px;
}

.dash table tr:hover td {
    background: #dddddd;
}

.dash table tr td, .dash table tr th {
  padding: 8px;
}

td.controls {
    text-align: right;
}

.dash button,
.dash input[type="submit"]{
    border-color: #1f6a66;
    color: #1f6a66;
    background-color: #90b5b3;
}

.dash button.update {
    color: #1f426a;
    border-color: #1f426a;
    background: #90a1b5;
}

.dash button.delete {
    border-color: #691f22;
    color: #691f22;
    background-color: #b59091;
}

table button.btn {
    padding: 2px 6px;
    margin: 0px 0px 0px 10px;
}

.add-info p {
    background: #99f;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    text-align: center;
    cursor: pointer;
}

p.copyright {
    text-align: center;
    font-size: 80%;
    color: #666;
}